article h2 {
  font-size: 24px;
  color: blue;
}
article p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
article a {
  font-size: 5px;
  color: blueviolet;
}

h3 {
  font-size: 50px;
  color: pink;
}

